#center{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: lightgray
}

li a {
    display: block;
    color: purple;
    padding: 8px 16px;
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
}